.container {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  background: snow;
}

.cardContainer {
  height: 80vh;
  display: flex;
  width: 80vh;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.cardContainer_left {
  flex: 0.6;
  padding: 2rem;
  text-align: center;
}

.cardleft_heading {
  font-weight: bold;
  font-size: 1.8rem;
}

.inputField {
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
  border: 1px solid silver;
  width: 100%;
  outline: none;
}

.inputContainers {
  display: flex;
  flex-direction: column;
  padding-top: 1.3rem;
  max-width: 400px;
  margin: auto;
  gap: 1.5rem;
}

.inputRow {
  display: flex;
  gap: 1.2rem;
}

.buttonWithOutline {
  padding: 0.8rem 1.3rem;
  background: rgb(247, 186, 168);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.cardContainer_right {
  flex: 0.4;
  background: #00488b;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem;
}

@media (max-width: 600px) {
  .cardContainer {
    flex-direction: column;
  }
}
