* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background-color: #fac0f2;
  background: url('/src/assets/logo.jpeg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: #333;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.3); 
  z-index: -1;
}

button {
  cursor: pointer;
  border: none;
}

input, select {
  padding: 8px;
  width: 100%;
  margin-top: 6px;
}
